<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleDisplayName</key>
  <string>MagicMenu</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleIconFile</key>
  <string>MagicMenuLiteFinder</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>MagicMenu</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>MagicMenu URL</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>magicmenulitefinder</string>
      </array>
    </dict>
  </array>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSMinimumSystemVersion</key>
  <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSAccessibilityUsageDescription</key>
  <string>MagicMenu 需要辅助功能权限，在新建文件后让 Finder 自动进入重命名状态。</string>
  <key>NSDesktopFolderUsageDescription</key>
  <string>MagicMenu 需要在你右键选择的桌面位置新建文件。</string>
  <key>NSDocumentsFolderUsageDescription</key>
  <string>MagicMenu 需要在你右键选择的文稿位置新建文件。</string>
  <key>NSDownloadsFolderUsageDescription</key>
  <string>MagicMenu 需要在你右键选择的下载位置新建文件。</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026.</string>
  <key>NSNetworkVolumesUsageDescription</key>
  <string>MagicMenu 需要在你右键选择的网络磁盘位置新建文件。</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSRemovableVolumesUsageDescription</key>
  <string>MagicMenu 需要在你右键选择的外接磁盘位置新建文件。</string>
</dict>
</plist>
